{
    "printWidth": 90,
    "singleQuote": false,
    "useTabs": false,
    "semi": true,
    "trailingComma": "none",
    "proseWrap": "never",
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": "*.md",
        "options": {
          "printWidth": 70,
          "useTabs": false,
          "semi": false,
          "tabWidth": 2,
          "trailingComma": "none"
        }
      }
    ]
  }
  